/* main structural stuff */
body{font-family:monospace;background-color:#57816c;margin:0;}
.containment{margin:8px}

article{background-color:#ccecdf;padding:3px;margin-bottom:5px;
border:#00000000 20px solid;border-radius:3px;
border-image:url(../images/griddy/borderwawa.png)30 round;
max-width:1500px;}

        /* colour schemes */
        .vermilliwrong{background-color: #ecccd8;border-image: none;} /*none for now!*/
        .vermilliwrong > article{background-color: #c49eaf;border-image: none;}
        .vermilliwrong > .biobar li{background-color: #401631;color: #fff;}
        .caramalt{background-color: #ecd4cc;border-image: none;} /*none for now!*/
        .caramalt > article{background-color: #dab1a3;border-image: none;}
        .caramalt > .biobar li{background-color: #bfa294;}
        .blueberrish{background-color: #ccd2ec;border-image: none;} /*none for now!*/
        .blueberrish > article{background-color: #8e9bd6;border-image: none;}
        .blueberrish > .biobar li{background-color: #2e0b5d;color: #fff;}


article > article{background-color:#9ec4b4;}
/*SD*/article p{font-size:17.5px;}

button{font-size: 16.5px;background-color: #136546;color:#d8f4e9;padding:4px;
    border-color: #33b080 #093725 #093725 #33b080;cursor: pointer;}
button:active{color:#a0c3be;border-color: #093725 #33b080 #33b080 #093725 ;}

.biobar{list-style-type: none;display:flex;gap:10px;flex-wrap:wrap;align-items: flex-end;}
.biobar li{font-size: 20px;font-weight: bold;background-color:#9ec4b4;padding:15px;border-radius:5px;
text-decoration: none;}
.biobar img{width: 64px;height: auto;}

.imagegrid{
    column-count:2;
}
.imagegrid img{
    width:100%;height: auto;border:2px #334b3f solid;align-self:center;
    background-color:#444444;
}

/* slightly less main structural stuff */
.depths{background-color:#0924163f;border-left:10px dashed #0924163f;border-right:10px dashed #0924163f}
.space{height:250px}
/*SD*/.doubleup{display: flex;gap: 1%;justify-content: flex-start;align-items: flex-start;}
.doubleup nav{min-width:360px;}

/* more sectiony areas */
header nav{display: flex;}
/*SD*/nav a{background-color:#a5e9a8;padding:3px;margin:3px;
    border:#00000055 3px solid;border-radius:4px;transition-duration:200ms;
    font-size:30px;text-decoration:none;font-weight:bold;color:#225599}
nav a:hover{padding:5px}
nav a:active{background-color:#85c788;border-radius:0px;color:#57388b}


/* slop is faster to type than flex-container. */
.slop{display:flex;justify-content:center}
.slop img{align-self:center}

/*SD*/.slime{display: flex; gap: 20px;justify-content: space-between;}
.wrap{flex-wrap: wrap;}


/* the silly */
.squish{transition-duration:200ms;}
.squish:hover{margin:20px;box-shadow:0px 0px 30px #ff0066 inset, 0px 10px 20px #ff0066}

/* whatever */
.half{width:50%}
.floatelle{float: left;}
.floatwrite{float: right;}
.hide{display:none;}


/* all size-dependent stuff. */
/*SD*/

@media (max-width: 640px) {
    .imagegrid {column-count:1} 
    nav a{font-size:20px;padding:1px;}
    nav a img{max-width:40px}
    article p{font-size:17px;}
    .slime{display: inherit;}
    .doubleup{display: inherit;}
}

@media (min-width: 1024px) {
    .imagegrid {column-count:3}
    article p{font-size:18px;}
}
@media (min-width: 1536px) { 
    article p{font-size:20px;} 
}
/*

display:flex;
    flex-wrap:wrap;justify-content:space-around;*/