body{font-family:monospace;background-color:#103a24;margin:0;}
.containment{display:flex;justify-content:center}

article{text-align:center;}
.spce{height:100px}

img{align-self:center}
.depths{border-color:#010a053f}