article{background-color:#dddddd;padding:3px;margin-bottom:5px;
border:#00000055 3px solid;border-radius: 3px;}
nav a{background-color:#dddddd;padding:3px;margin:3px;
    border:#00000055 3px solid;border-radius: 3px;}