body{font-family:monospace;background-color:#103a24;margin:0;}
.containment{display:flex;justify-content:center;margin:0;}

article{text-align:center;}
.spce{height:100px}

/*Today is the day you die. Well, you don't know that, but the stinging in your antennae and limbs gives you a good feeling. Part of you wishes you weren't so paranoid of the machinery specifically designed to bring fools like you back from the brink of death- a machine that can transfer your mind through the air? You couldn't transfer your damn documents faster than an hour outside the walls and they think they can snatch you up from miles away- oh hell, it'd be better than dying out here. Maybe it would've brought only part of you back. And, if you manage to find some help, maybe you won't even need it. Show them you don't need it. Right. Laying down here and doing nothing is probably not the best idea. What time is it?*/

img{align-self:center}
.depths{border-color:#010a053f}

.greenBase{background-color:#082315;height:30px}

/*Wow that hurts oh fuck okay wait no wait okay almost there*/