
:root{
    --ceiling-rotate: -60deg;
    --floor-rotate: 60deg;
}
/*  */
body{background-color: #340518;}
.container{max-width: 1000px;margin: 0 auto;background-color: #eee;}
/*  */
.cave-test{background-color: #000;perspective: 350px;overflow: hidden;}
.floor, .ceiling{border: 20px #fff solid;height: 300px;}
/* transform-style: preserve-3d; */
.ceiling{transform:perspective(300px) rotateX(var(--ceiling-rotate)) translateZ(-100px);}
.floor{transform:perspective(300px) rotateX(var(--floor-rotate)) translateZ(100px);display: flex;}
.floor > div{transform: perspective(300px) rotateX(calc(var(--floor-rotate) / -1));}
/*  */
.filler{height: 600px;}