/* why are you looking at my css. anyways I write css like this. because it's Compact. if you want to
see this in proper format for some reason then copy paste to visual studio code and
do shift+alt+F */

/* variables */
/* --------- */
:root{
    --teal:#46899f;
}

@keyframes buttonRotate{
    0%{transform:rotate(0deg);}
    25%{transform:rotate(1deg) scale(1.05) perspective(1px);}
    75%{transform:rotate(-1deg) scale(1.05) perspective(1px);}
    100%{transform:rotate(0deg) scale(1.05) perspective(1px);}
}

.show-block{display: block !important;}
.show-flex{display: flex !important;}
/* text */
/* ---- */
p{font-size: 1.1rem;}
a{text-decoration: none;}
h1{text-align: center;}

.interest h2{margin-bottom: 0.5rem;font-weight: bolder;}
/* encompassing and descending */
/* --------------------------- */
html{box-sizing: border-box;}
*, *:before, *:after {
    box-sizing: inherit;
  }
img{-ms-interpolation-mode:nearest-neighbor;image-rendering:-webkit-optimize-contrast;image-rendering:-moz-crisp-edges;image-rendering:-o-pixelated;image-rendering:pixelated;box-sizing:border-box}

body{font-family:monospace;background-color:#05222d;margin:0;}
.containment{margin: 0 auto;background-color:#10675d;
    background: linear-gradient(180deg, #10675d 60%, #05222d00 95%);
border-right:solid #6ea389;}

header{max-height: 20rem;background-color: #80c4a3;padding: 1rem;
display: flex;flex-direction: row;justify-content: space-between;
background: linear-gradient(180deg, #80c4a3 98%, #05222d00 100%);
padding-bottom: 1rem;}
header nav{display: flex;flex-direction: column;justify-content: center;
align-items: center;}
header nav a{width: 13ch;}

nav a{font-size: 1rem;padding: 0.45rem;background-color: #000;
margin: 0.25rem 0;color: #fff;border:3px solid #9ed7bc;
border-color: #9ed7bc #335f4b #335f4b #9ed7bc;
}
nav a:hover{background-color: #042f41;}
nav a:active{background-color: #0b4951;color: #a9d5c4;
    border-color: #335f4b #9ed7bc #9ed7bc #335f4b;
    
    }
nav a,.peoplebox a,.art-grid a{transition-duration:0.1s;}
nav a:hover,.peoplebox a:hover,.art-grid a:hover{transform: scale(1.05) perspective(1px);
    animation: buttonRotate 0.2s;}
nav a:active,.peoplebox a:active,.art-grid a:active{transform: scale(0.95) perspective(1px);}

main{/* background-color: #2e4d49; */padding: 2rem 1rem;
display: flex;flex-wrap: wrap;}

article{background-color: #b6e4ca;padding: 1rem;margin: 0.5rem;
    border:#00000000 20px solid;border-radius:3px;
    border-image:url(../images/griddy/borderwawa.png)30 round;}
article>article{background-color: #a8ceb9;padding: 0.5rem;}
    /* articolours */

img{width: 100%;}

.row-nav{display: flex;flex-wrap: wrap;gap: 0.2rem;}

/* small, specific */
/* --------------- */
.headerIcon{width: 150px;}

.flex{display: flex;flex-wrap: wrap;}
.column{flex-direction: column;}

/* main page */
.peoplebox{align-items: center;justify-content: space-between;}
.peoplebox img{max-width: 100px;} /* alternative main>div:nth-child(2)>div:nth-child(2) */

.memoryMimic{transform: rotate(1080deg) scale(10) !important;transition-duration: 10s !important;}
.update{height: 30rem;overflow: scroll;}
/* art page */
.imageDisplay{background-color: #00000070;position: fixed;width: 100%;
    height: 100%;top:0;display: none;justify-content: space-around;
align-items: center;padding: 1rem;}
/* .imageDisplay:target{display: block;} Actually no I'm not doing this*/
.imageDisplay div:nth-child(2){max-width: 90%;min-width: 80%;border: 5px solid #042f41;
max-height: 95%;overflow: scroll;}
.imageDisplay img{max-width: 100%;background-color: #0000006c;}

.art-grid a{width: 100%;margin: 0;break-inside: avoid;margin-bottom: 1rem;
    text-align: center;display: block;border: 2px solid #0b4951;
background-color: #dbf4e5;color: #000;}
.art-grid > div{break-inside: avoid;}
.art-grid p{margin-top: 0.5rem;display: block;break-inside: avoid;}
.art-grid img{border-bottom: 2px solid #0b4951;}

.noBreak{}

/* info boxes */
/* #characterList>article{background-color:;} */
.biobar{list-style-type: none;display:flex;gap:10px;flex-wrap:wrap;align-items: center;}
.biobar li{font-size: 1.5rem;font-weight: bold;background-color:#dff1ea;padding:15px;border-radius:5px;
    text-decoration: none;}
.biobar img{width: 64px;height: auto;;border: 2px #0b4951 solid;}

/* stupid */
/* ------ */
.squish{transition-duration:500ms;}
.squish:hover{margin:100px;box-shadow:0px 0px 30px #ff0066 inset, 0px 10px 20px #ff0066
    ;transform: scale(0.5) perspective(1px);}

/* specific */
/* ---- */
@media screen and (min-width:640px){
    .containment{margin: 0 5%;}
    header{float: left;max-height: fit-content;flex-direction: column;}
    .flex640{display: flex;}
    .art-grid{columns: 1;}
    .imageDisplay div:nth-child(2){min-width: 70%;}
}
@media (min-width: 1024px){
    .art-grid{columns: 2;}
    .imageDisplay div:nth-child(2){min-width: 60%;min-height: max-content;}
}
@media screen and (min-width:1280px){
    .art-grid{columns: 3;}
}

@media (prefers-reduced-motion) {
    nav a,.peoplebox a,.art-grid a{transition-duration:0;}
nav a:hover,.peoplebox a:hover,.art-grid a:hover{transform: none;
    animation: none;}
nav a:active,.peoplebox a:active,.art-grid a:active{transform: none;}
.squish:hover{margin:0;box-shadow:0px 0px 30px #ff0066 inset, 0px 10px 20px #ff0066
    ;transform: none;}
}
  