/* why are you looking at my css. anyways I write css like this. because it's Compact. if you want to
see this in proper format for some reason then copy paste to visual studio code and
do shift+alt+F */

/* variables */
/* --------- */
@font-face {
    font-family: oculuce-handwriting;
    src: url(../fonts/oculuce-handwriting.ttf);
}

:root{
    --teal:#46899f;
    --dark-green-margin:#335f44;
    --light-green-margin:#9ed7d0;
    --navy:#042f41;
}

@keyframes buttonRotate{
    0%{transform:rotate(0deg);}
    25%{transform:rotate(0.3deg) scale(1.01) perspective(1px);}
    75%{transform:rotate(-0.3deg) scale(1.01) perspective(1px);}
    100%{transform:rotate(0deg) scale(1.01) perspective(1px);}
}

.show-block{display: block !important;}
.show-flex{display: flex !important;}

/* text */
/* ---- */
p{font-size: 1.1rem;}
a{text-decoration: none;}
h1{text-align: center;font-size: 2rem;}
h2{margin-bottom: 1rem;font-weight: bolder;font-size: 1.8rem;}
h3{font-size: 1.4rem;text-decoration: underline;margin-bottom: 0.5rem;}
h4{font-size: 1.2rem;margin-bottom: 0.5rem;}

h1,h2,h3,h4,h5,h6{font-family:"oculuce-handwriting",monospace}
/* encompassing and descending */
/* --------------------------- */
html{box-sizing: content-box;}
*, *:before, *:after {
    box-sizing: inherit;
  }
img{-ms-interpolation-mode:nearest-neighbor;image-rendering:-webkit-optimize-contrast;image-rendering:-moz-crisp-edges;image-rendering:-o-pixelated;image-rendering:pixelated;box-sizing:border-box}





body{font-family:monospace;background-color:#05222d;margin:0;}
.containment{margin: 0 auto;max-width: 1100px;}
.side-border{background-color:#10675d;
    background: linear-gradient(180deg, #10675dbe 40%, #05222d00 95%);box-shadow: 
    3px 0 0 0 #a7e2d6, 10px 0 0 0 #87c0b5, 17px 0 0 0 #568a77, 20px 0 0 0 #2d421a,
    -3px 0 0 0 #2d421a, -10px 0 0 0 #568a77, -17px 0 0 0 #87c0b5, -20px 0 0 0 #a7e2d6}

header{max-height: 20rem;background-color: #80c4a3;padding: 1rem;
background: linear-gradient(180deg, #80c4a3 98%, #05222d00 100%);
padding-bottom: 1rem;margin-top: 18px;
box-shadow: 
    0 3px 0 0 #a7e2d6, 0 10px 0 0 #87c0b5, 0 15px 0 0 #568a77, 0 18px 0 0 #2d421a,
    0 -3px 0 0 #2d421a, 0 -10px 0 0 #568a77, 0 -15px 0 0 #87c0b5, 0 -18px 0 0 #a7e2d6}
header .containment{display: flex;flex-direction: row;justify-content: space-between;align-items: center;}
header nav{display: flex;flex-direction: column;justify-content: center;
align-items: center;}
header nav a{width: 13ch;}

nav a,button,.button,.header-icon{font-size: 1rem;padding: 0.45rem;background-color: #000;
margin: 0.25rem 0;color: #fff;border:3px solid var(--light-green-margin);
border-color: var(--light-green-margin) var(--dark-green-margin) var(--dark-green-margin) var(--light-green-margin);cursor: pointer;
}
nav a:hover,button:hover,.button:hover,.header-icon:hover{background-color: var(--navy);}
nav a:active,button:active,.button:active,.header-icon:active{background-color: #0b4951;color: #a9d5c4;
    border-color: var(--dark-green-margin) var(--light-green-margin) var(--light-green-margin) var(--dark-green-margin);
    
    }
nav a,.peoplebox a,.art-grid a{transition-duration:0.1s;}
nav a:hover,.peoplebox a:hover,.art-grid a:hover,.header-icon:hover{transform: scale(1.01) perspective(1px);
    animation: buttonRotate 0.2s;}
nav a:active,.peoplebox a:active,.art-grid a:active,.header-icon:active{transform: scale(0.99) perspective(1px);}

main{/* background-color: #2e4d49; */padding: 2rem 1rem;display: flex;flex-wrap: wrap;min-height: 100dvh;}

section{background-color: #b6e4ca;padding: 1rem;margin: 0.5rem;
    border:#00000000 20px solid;border-radius:3px;
    border-image:url(/images/griddy/borderwawa.png)30 round;}
section>section{background-color: #a9d5c4;padding: 0.5rem;}
    /* articolours */

img{width: 100%;}

.row-nav{display: flex;flex-wrap: wrap;gap: 0.2rem;}

/* small, specific */
/* --------------- */
.header-icon{width: 150px;background-color: #000;box-sizing: content-box;}
.hide{display: none;}

.flex{display: flex;flex-wrap: wrap;}
.column{flex-direction: column;}

/* main page */
.peoplebox{align-items: center;justify-content: space-between;}
.peoplebox img{max-width: 100px;} /* alternative main>div:nth-child(2)>div:nth-child(2) */

.memoryMimic{transform: rotate(1080deg) scale(10) !important;transition-duration: 10s !important;}
.update{height: 30rem;overflow: scroll;}

.effigy{cursor: pointer !important;}

/* art page */
.imageDisplay{background-color: #000000ae;position: fixed;width: 100%;
    height: 100%;top:0;display: none;justify-content: center;
align-items: center;line-height: 0;flex-flow: column;}
/* .imageDisplay:target{display: block;} Actually no I'm not doing this. Shoutout to sira0xff.netlify.app go look at the arts there. Wait shouldn't I like put a button for this and not hide it in the code. Is there a button?*/
.display-image{max-width: 90%;min-width: 80%;border: 5px solid var(--navy);
max-height: 95%;overflow: scroll;}
.imageDisplay img{max-width: 100%;background-color: #0000006c;}
.close-button{color: #fff;width: 3rem;top:1rem;left:1rem;position: absolute;user-select: none;}


/* .force-height{min-width: 0% !important;}
.force-height img{height: 90vh;} */

.art-grid div > a{width: 100%;margin: 0;break-inside: avoid;
    display: block;}
.art-grid div > a{line-height: 0}
.art-grid *{line-height: 1.2}
.art-grid > div{break-inside: avoid;background-color: #dbf4e5;border: 2px solid #0b4951;
    margin-bottom: 1rem;text-align: center;}
.art-grid p{display: block;break-inside: avoid;margin: 1rem 0.5rem 1rem 0.5rem;}
.art-grid .button{width: fit-content;display: inline-block;}
.art-grid .button a{color: #fff;}
.art-grid img{object-fit: cover;min-height: 120px;}

/* info boxes */
/* #characterList>section{background-color:;} */
.biobar{list-style-type: none;display:flex;gap:10px;flex-wrap:wrap;align-items: center;}
.biobar li{font-size: 1.5rem;font-weight: bold;background-color:#dff1ea;padding:15px;border-radius:5px;
    text-decoration: none;}
.biobar img{width: 64px;height: auto;;border: 2px #0b4951 solid;}

/* stupid */
/* ------ */
.squish{transition-duration:1000ms;}
.squish:hover{margin-right:100px;box-shadow:0px 0px 30px #ff0066 inset, 0px 10px 20px #ff0066
    ;transform: scale(0.5) perspective(1px);}

/* specific */
/* ---- */
@media screen and (min-width:640px){
    /* .containment{margin: 0 5%;} */
    /* header{max-height: fit-content;flex-direction: row;} */
    header nav{flex-flow: row;gap: 1rem;}
    .grid-4-6{display: grid;grid-template-columns: 4fr 6fr;}
    /* .art-grid{columns: 1;} */

    .imageDisplay{padding: 1rem;}
    .imageDisplay div:nth-child(2){min-width: 70%;}
}
@media screen and (min-width: 750px){
    .art-grid{columns: 2;}
}
@media screen and (min-width: 1024px){
    
    .imageDisplay div:nth-child(2){min-width: 60%;min-height: max-content;}
}
@media screen and (min-width:1000px){
    .art-grid{columns: 3;}
}
@media screen and (min-width:1280px){
}

@media (prefers-reduced-motion) {
    nav a,.peoplebox a,.art-grid a{transition-duration:0s;}
    nav a:hover,.peoplebox a:hover,.art-grid a:hover{transform: none;
    animation: none;}
    nav a:active,.peoplebox a:active,.art-grid a:active{transform: none;}
    .squish:hover{margin:0;box-shadow:0px 0px 30px #ff0066 inset, 0px 10px 20px #ff0066
    ;transform: none;}
}
  