/* another site rewrite? yessir */


/* variablelets and activethings */
/* ----------------------------- */
@font-face {
    font-family: oculuce-handwriting;
    src: url(/fonts/oculuce-handwriting.ttf);
}

:root{
    --teal:#46899f;
    --dark-green-margin:#335f44;
    --light-green-margin:#9ed7d0;
    --navy:#042f41;
}

@keyframes buttonRotate{
    0%{transform:rotate(0deg);}
    25%{transform:rotate(0.3deg) scale(1.01) perspective(1px);}
    75%{transform:rotate(-0.3deg) scale(1.01) perspective(1px);}
    100%{transform:rotate(0deg) scale(1.01) perspective(1px);}
}

.show-block{display: block !important;}
.show-flex{display: flex !important;}

/* text */
/* ---- */
p{font-size: 1.1rem;}
a{text-decoration: none;}
h1{text-align: center;font-size: 2rem;}
h2{margin-bottom: 1rem;font-weight: bolder;font-size: 1.8rem;}
h3{font-size: 1.4rem;text-decoration: underline;margin-bottom: 0.5rem;}
h4{font-size: 1.2rem;margin-bottom: 0.5rem;}

h1,h2,h3,h4,h5,h6{font-family:"oculuce-handwriting",monospace}
/* globalthings */
/* ------------ */
html{box-sizing: content-box;}
*, *:before, *:after {
    box-sizing: inherit;
  }

nav{display: flex;flex-flow: column;}

body{margin: 0;font-family: monospace;font-size: 1.5rem;background-color: #1d0534;}
body > .containment{background-color:#10675d;
    background: linear-gradient(180deg, #10675dbe 40%, #05222d00 95%);box-shadow: 
    3px 0 0 0 #a7e2d6, 10px 0 0 0 #87c0b5, 17px 0 0 0 #568a77, 20px 0 0 0 #2d421a,
    -3px 0 0 0 #2d421a, -10px 0 0 0 #568a77, -17px 0 0 0 #87c0b5, -20px 0 0 0 #a7e2d6}

header{padding: 1rem;margin: 18px 0;
    background: linear-gradient(180deg, #80c4a3 98%, #05222d00 100%);
    box-shadow: 
        0 3px 0 0 #a7e2d6, 0 10px 0 0 #87c0b5, 0 15px 0 0 #568a77, 0 18px 0 0 #2d421a,
        0 -3px 0 0 #2d421a, 0 -10px 0 0 #568a77, 0 -15px 0 0 #87c0b5, 0 -18px 0 0 #a7e2d6}
.header-portrait{width: 150px;}
header .containment{display: flex;justify-content: space-between;align-items: center;}
header nav ul{display: flex;flex-flow: wrap column;margin: 0;}
header nav a{min-width: calc(10ch + 6px);}

main{color: #fff;}


footer{max-height: 20rem;padding: 1rem;padding-bottom: 1rem;margin: 18px 0;
    background: linear-gradient(180deg, #80c4a3 98%, #05222d00 100%);
    box-shadow: 
        0 3px 0 0 #a7e2d6, 0 10px 0 0 #87c0b5, 0 15px 0 0 #568a77, 0 18px 0 0 #2d421a,
        0 -3px 0 0 #2d421a, 0 -10px 0 0 #568a77, 0 -15px 0 0 #87c0b5, 0 -18px 0 0 #a7e2d6}

.containment{max-width: 1100px; margin: 0 auto;}

/* lesser globalthings */
/* ------------------- */
img{width: 100%;box-sizing:border-box}
img{-ms-interpolation-mode:nearest-neighbor;image-rendering:-webkit-optimize-contrast;image-rendering:-moz-crisp-edges;image-rendering:-o-pixelated;image-rendering:pixelated;}

/* button things yes */
nav a, .header-portrait{padding: 0.45rem;margin: 0.25rem 0;background-color: #000;color: #fff;
    border:3px solid;cursor: pointer;
border-color: var(--light-green-margin) var(--dark-green-margin) var(--dark-green-margin) var(--light-green-margin);}
nav a:hover, .header-portrait:hover{background-color: var(--navy);}
nav a:active, .header-portrait:active{background-color: #0b4951;color: #a9d5c4;
    border-color: var(--dark-green-margin) var(--light-green-margin) var(--light-green-margin) var(--dark-green-margin);}

nav li{list-style-type: none;display: flex;}
nav a{font-size: 1.2rem;}

/* link animation */

a:hover{transform: scale(1.01) perspective(1px);animation: buttonRotate 0.2s;}
a:active{transform: scale(0.99) perspective(1px);}

section{border: 3px #00000000 solid;border-bottom-color: #3dd5c678;
    padding: 1rem;margin: 0.5rem;}
/* 
.custom-button{transition: 0.25s ease-in;position: relative;padding: 0.5rem;background-color: #ff0066;transform: translatey(-6px);}
.whatever{height: 20px;background-color: #940b42;width: fit-content;padding-bottom: 1rem;cursor: pointer;}
.custom-button:active, .whatever:active .custom-button{transform: translateY(0);}
.custom-button{transition: 0.25s ease-in;position: relative;padding: 0.5rem;background-color: #ff0066;transform: translatey(-6px);}
.custom-button-bottom{height: 20px;background-color: #940b42;width: fit-content;padding-bottom: 1rem;cursor: pointer;}
.custom-button:active, .custom-button-bottom:active .custom-button{transform: translateY(0);}
*/
/* ======== 3D Buttons ========
BUTTON TEMPLATES:
<a href="#" class="no-decoration"><div class="custom-button-bottom"><div class="custom-button">Book Now</div></div></a>
<a href="#" class="no-decoration"><div class="custom-button-bottom yellow-colors"><div class="custom-button">Book Now</div></div></a>
<a href="#" class="no-decoration"><div class="custom-button-bottom blue-colors"><div class="custom-button">Book Now</div></div></a>
 */

.no-decoration {text-decoration: none;margin: 1rem 0;display: block;width: fit-content;}
.max-margin-left {margin-left: auto;}
  
.custom-button {transition: 0.07s ease-in;position: relative;padding: 10px 16px;
  background: linear-gradient(var(--third-color-grey));transform: translatey(-6px);border-radius: 8px;
  color: var(--text-color-light);font-family: "League Spartan", sans-serif;font-size: 1.2rem;
  font-weight: 500;text-decoration: none;text-transform: uppercase;}

.custom-button-bottom {min-width: 15ch;text-align: center;transition: 0.07s ease-in;
  background: linear-gradient(#00000090),  linear-gradient(var(--third-color-grey));
  width: fit-content;cursor: pointer;border-radius: 8px;box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.381);}

.custom-button:hover {background: linear-gradient(#ffffff25), no-repeat,linear-gradient(var(--third-color-grey));}
.custom-button-bottom:hover {background: linear-gradient(#00000020),linear-gradient(var(--third-color-grey));}

.custom-button:active,.custom-button-bottom:active .custom-button {transform: translateY(0);}

.custom-button-bottom:active {box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.381);}
/* 
.blue-colors .custom-button {
  background: url(images/svg/blue-button-paw.svg) no-repeat,
    linear-gradient(var(--primary-color));
  color: var(--text-color-light);
}

.custom-button-bottom.blue-colors {
  background: linear-gradient(#00000047), linear-gradient(var(--primary-color));
}

.blue-colors .custom-button:hover {
  background: linear-gradient(#ffffff10),
    url(images/svg/blue-button-paw.svg) no-repeat,
    linear-gradient(var(--primary-color));
}
.custom-button-bottom.blue-colors:hover {
  background: linear-gradient(#00000030), linear-gradient(var(--primary-color));
}

.yellow-colors .custom-button {
  background: url(images/svg/orange-button-paw.svg) no-repeat,
    linear-gradient(var(--secondary-color));
  color: var(--third-color-darkest);
}

.custom-button-bottom.yellow-colors {
  background: linear-gradient(#0000006c),
    linear-gradient(var(--secondary-color));
}

.yellow-colors .custom-button:hover {
  background: linear-gradient(#ffffff25),
    url(images/svg/orange-button-paw.svg) no-repeat,
    linear-gradient(var(--secondary-color));
}
.custom-button-bottom.yellow-colors:hover {
  background: linear-gradient(#00000020),
    linear-gradient(var(--secondary-color));
}
  
 */

/* colorthings */
/* ----------- */
.metal-green{background-color: #b6e4ca;padding: 1rem;margin: 0.5rem;
    border:#00000000 20px solid;border-radius:3px;
    border-image:url(/images/griddy/borderwawa.png)30 round;color: #000;}
.fiendlet-red{background-color: #c49eaf;color: #000;border-color: #ff0066;border-radius: 4px;}

/* flex world */
/* ---------- */
.one-one{display: flex;flex-flow: column;}

/* stupid */
/* ------ */

/* querythings */
/* ----------- */

@media screen and (min-width:640px){
    .one-one{flex-flow: row;}
    .one-one > *:first-child{flex-grow: 1;max-width: 20ch;}
    .one-one > *:last-child{flex-grow: 3;}
}
@media screen and (min-width:830px){
  header nav ul{gap: 1rem;flex-flow: wrap row;}
}

/* specific!!! */
/* ----------- */

/* main page */
.other-links{display: flex;flex-flow: wrap;}
.other-links a img{max-width: 100px;}